/* src/assets/styles/utils/_colors.scss  */
/* =========================================================
 Colors
========================================================= */
$text: #4b4849;
$main-color: #014099;
$sub-color: #e74c3c;
$main-bg: #e1e1e1;
$sub-bg: #f0f0f0;
$lightseagreen: #29c59c;
$darkslategray: #1f273e;
$text: #333;
$accent: orange;
